NEXT_PUBLIC_GRAPHQL_ENDPOINT=https://cms.theuaejunction.cloud/graphql
NEXT_PUBLIC_WORDPRESS_URL=https://cms.theuaejunction.cloud
NEXT_PUBLIC_SITE_URL=https://theuaejunction.cloud
REVALIDATE_SECRET=your-secret
STRIPE_SECRET_KEY=sk_live_...
STRIPE_PUBLIC_KEY=pk_live_...
TABBY_API_KEY=
PAYPAL_CLIENT_ID=
PAYPAL_CLIENT_SECRET=